<!-- <ion-content class="main-screen"> -->
<ion-content [ngClass]="{'main-screen': allLoadStatus}">
  <div class="wrapper">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <!-- group conversation image  -->
          <!-- ========================================================= -->

          <div class="caller-information" *ngIf="allLoadStatus">
            <div class="group-conversation-image">
              <div class="particepent-inner" style="z-index: 10">
                <div class="particepent">
                  <img src="assets/images/group1.jpg" alt="" />
                </div>
                <button class="mic active">
                  <ion-icon
                    name="volume-high-outline"
                    style="color: #fff; font-size: 18px"
                  ></ion-icon>
                </button>
              </div>
            </div>
          </div>
          <!-- ========================================================= -->
          <!-- group conversation image  -->
          <!-- calling part -->
          <!-- calling part -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="footer">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <!-- call receiver information -->
        <div class="call-receiver-info video-call" *ngIf="! callReceiveStatus">
          <h3>{{callerUser | titlecase}}</h3>
          <p>{{callDisplayStatus}}</p>
        </div>
        <!-- End of call receiver information -->

        <!-- call audio video button -->

        <div class="call-audio-video-button video-call">
          <button class="call-audio-video-btn video-btn">
            <!-- <button class="call-audio-video-btn video-btn"> -->
            <ion-icon
              name="videocam-outline"
              style="color: #f76215; font-size: 24px"
            ></ion-icon>
          </button>

          <button class="call-audio-video-btn video-switch-btn">
            <ion-icon
              name="git-compare-outline"
              style="color: #f76215; font-size: 24px"
            ></ion-icon>
          </button>

          <button class="call-audio-video-btn audio-btn">
            <ion-icon
              name="volume-high-outline"
              style="color: #f76215; font-size: 24px"
            ></ion-icon>
          </button>
        </div>
        <!-- End of call audio video button -->

        <div
          class="call-audio-video-button-receive video-call call-receive"
          (click)="callClose()"
        >
          <button class="call-receiver-cancel">
            <ion-icon
              name="call"
              style="color: #ffff; font-size: 36px"
            ></ion-icon>
          </button>
        </div>

        <div
          class="call-audio-video-button-receive video-call call-close"
          (click)="receiveCall()"
          *ngIf="allLoadStatus"
        >
          <button class="call-receiver">
            <ion-icon
              name="call"
              style="color: rgb(255, 255, 255); font-size: 36px"
            ></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="toolbarBtn">
        <!-- app footer -->
        <div class="app-footer">
          <div class="footer-shap-inner">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100%"
              height="140.8"
              viewBox="0 0 414 100.8"
            >
              <path
                id="footer-shape"
                d="M1155.746,497.28H1067.54c-16.988,0-32.343,8.76-40.12,22.45-8.99,15.81-27.181,26.63-48.151,26.63s-39.161-10.81-48.151-26.63c-7.777-13.69-23.143-22.45-40.12-22.45H802.792c-16.558,0-30.027-11.96-30.49-26.86h-.022v140.8h414V470.42h-.022C1185.772,485.32,1172.3,497.28,1155.746,497.28Z"
                transform="translate(-772.28 -470.42)"
                fill="#F76215"
              />
            </svg>
          </div>

          <!-- call navigaion -->
          <div class="call-navigation">
            <div class="left-part">
              <button class="nav-btn">
                <ion-icon
                  name="person-add-outline"
                  style="color: #fff; font-size: 24px"
                ></ion-icon>
              </button>
              <button class="nav-btn enable-chat">
                <ion-icon
                  name="chatbubble-ellipses-outline"
                  style="color: #fff; font-size: 24px"
                ></ion-icon>
              </button>
            </div>
            <div class="right-part">
              <button class="nav-btn takae-phot">
                <ion-icon
                  name="pause-circle-outline"
                  style="color: #f76215; font-size: 24px"
                ></ion-icon>
              </button>
              <button class="nav-btn">
                <ion-icon
                  name="mic-off-outline"
                  style="color: #fff; font-size: 24px"
                ></ion-icon>
              </button>
            </div>
          </div>
          <!-- End of call navigaion -->
        </div>
        <!-- End add footer -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
