<ion-content>
  <span class="ellipse ellipse1"></span>
  <span class="ellipse ellipse2"></span>
  <span class="ellipse ellipse3"></span>
  <span class="ellipse ellipse4"></span>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg>
        

        <!-- account another control -->
        <div class="account-control">
          <!-- my image -->
        <div class="my-image-inner">
          <div class="my-image">
            <img src="assets/images/myimage.jpg" alt="">
          </div>
          <button class="image-edit">
            <ion-icon name="camera-outline" style="color: #fff; font-size: 16px;"></ion-icon>
          </button>
        </div>
        <!-- my image -->

          <ul class="control-list">
            <li class="control-list-item">
              <p>Profile</p> 
              <span>
                <ion-icon name="create-outline" style="color: #f76215; font-size: 16px;"></ion-icon>
              </span>
            </li>

            <li class="control-list-item">
              <p>Dark Mood</p> 
              <span>
                <ion-icon name="chevron-forward-outline" style="color: #f76215; font-size: 16px;"></ion-icon>
              </span>
            </li>

            <li class="control-list-item">
              <p>Privacy</p> 
              <span>
                <ion-icon name="chevron-forward-outline" style="color: #f76215; font-size: 16px;"></ion-icon>
              </span>
            </li>

            <li class="control-list-item">
              <p>Notification</p> 
              <span>
                <ion-icon name="chevron-forward-outline" style="color: #f76215; font-size: 16px;"></ion-icon>
              </span>
            </li>

            <li class="control-list-item">
              <p>Story</p> 
              <span>
                <ion-icon name="chevron-forward-outline" style="color: #f76215; font-size: 16px;"></ion-icon>
              </span>
            </li>

            <li class="control-list-item">
              <p>Help</p> 
              <span>
                <ion-icon name="chevron-forward-outline" style="color: #f76215; font-size: 16px;"></ion-icon>
              </span>
            </li>

            <li class="control-list-item">
              <p>Setting</p> 
              <span>
                <ion-icon name="chevron-forward-outline" style="color: #f76215; font-size: 16px;"></ion-icon>
              </span>
            </li>

            <li class="control-list-item">
              <p>Logout</p> 
              <span>
                <ion-icon name="log-out-outline" style="color: #f76215; font-size: 16px;"></ion-icon>
              </span>
            </li>

          </ul>
        </div>
        <!-- account another control -->
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
